$headerColor: #e9eff1;
$selectedColor: #d7ecef;
$borderDark: #c9c9c9;
$borderLight: #d7ecef;

.pagination-container {
  height: 40px;

  span {
    display: inline-block;
    margin: 0 10px;
    height: 40px;
    line-height: 40px;
    font-size: 0.8em;
  }

  input, select {
    display: inline-block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    margin: 0;
    border: 1px solid $borderDark;
    text-align: center;
  }

  .pagination-section {
    height: 50px;
    line-height: 50px;
  }

}