.splitpane-container {
  display: flex;
  height: 100%; width: 100%;
}

.splitpane-pane1 {
  align-self: stretch;
}

.splitpane-handle-horizontal {
  align-self: stretch;
  width: 2px; background: #cfcfca;
}

.splitpane-handle-horizontal:hover, .splitpane-horizontal-dragging  {
  cursor: col-resize;
}

.splitpane-handle-vertical {
  align-self: stretch;
  height: 2px; background: #cfcfca;
}

.splitpane-handle-vertical:hover, .splitpane-vertical-dragging {
  cursor: row-resize;
}

.splitpane-pane2 {
  align-self: stretch;
  flex-grow: 1;
}