@import '../../global/colors.scss';

.menubar {
    padding: 5px;
    box-sizing: border-box;

    div.menubar-container {
        display: flex;
        
        .divider {
            width: 1px;
            background: $prussian-blue;
            margin: 0 5px 0 0;
        }

        .button-wrapper {
            display: flex;
            position: relative;

            .submenu-container {
                position: absolute;
                top: 41px;
                left: 0;
                z-index: 999;
                width: 200px;
                height: auto;
            }

        }

        button {
            display: flex;
            width: auto;
            
            background: $copper-red;
            border: 0;
            border-right: 1px solid #8BA8C0;
            padding: 0 8px;
            margin: 0 5px 0 0;
            font-size: 1.4em;
            user-select: none;
            outline:0;
    
            .svg-inline--fa {
              
                margin: 0 3px;
            }
        
            span {
              display: block;
              margin: 0 2px 0 10px;
              font-size: 0.6em;
              color: #fff;
            }
        }

        button.small {
            height: 40px;
            line-height: 40px;
            min-width: 40px;
            .svg-inline--fa { 
                height: 40px;
            }
        }

        button.big {
            height: 60px;
            line-height: 60px;
            min-width: 60px;
            padding: 0 15px;
            .svg-inline--fa { 
                height: 60px;
            }
        }

        button.active {
            border-left: 4px solid $tuscan-red;;
            background: $tuscan-red;
        }

        button.disabled {
            opacity: 0.4;
        }
    
        button:not(.disabled):hover {
            cursor: pointer;
            background: $tuscan-red;
        }

    }

    div.menubar-vertical {

        button {
            width: 100%;
            margin: 0 0 1px 0;
            span {
                text-align: left;
                flex-grow: 1;
            }
        }

        .divider {
            height: 1px;
            width: 100%;
            background: $prussian-blue;
            margin: 0 0 5px 0;
        }

        .button-wrapper {

            .submenu-container {
                position: absolute;
                top: 2px;
                left: 99%;
                z-index: 999;
                width: 200px;
                height: auto;
            }

        }


    }
}

